@font-face {
  font-family: 'karla';
  src: url('./assets/karla-variablefont_wght-webfont.woff2') format('woff2'),
    url('./assets/karla-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'karla-italic';
  src: url('./assets/karla-italic-variablefont_wght-webfont.woff2')
      format('woff2'),
    url('./assets/karla-italic-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url('./assets/inter-variablefont_slntwght-webfont.woff2') format('woff2'),
    url('./assets/inter-variablefont_slntwght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100vh;
}

#root,
.App,
.page-container {
  box-sizing: border-box;
  min-height: 100vh;
}

:root {
  --page-width: clamp(350px, 95vw, 8.5in);
  --page-height: calc((var(--page-width) * 11) / 8.5);
  font-size: calc(var(--page-width) / 60);
}

.print-button,
.layout-button {
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  position: fixed;
  margin: 2rem;
  border-radius: 50%;
  appearance: none;
  opacity: 0.3;
  border: none;
  top: 0;
}

.print-button {
  right: 0;
}

.layout-button {
  left: 0;
}

.print-button img,
.layout-button img {
  width: 100%;
  height: auto;
}

.print-button:hover,
.layout-button:hover {
  opacity: 1;
}

.print-button:active,
.layout-button:active {
  scale: 0.9;
}

.page-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

.page {
  box-sizing: border-box;
  display: grid;
  width: var(--page-width);
  height: var(--page-height);
  padding: 3rem;
  box-shadow: 1px 1px 8px gray;
  grid-template: auto 1fr / 1fr auto;
}

.header {
  grid-area: 1 / 1 / 2 / -1;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header--image-upload-label {
  cursor: pointer;
  display: block;
  height: 8rem;
  width: auto;
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.2s;
}

.header--image-upload-label:hover {
  scale: 1.05;
}

.header--image-upload-image {
  height: 100%;
  width: auto;
}

#img-upload {
  display: none;
}

.name {
  font-family: Karla, sans-serif;
  font-weight: 300;
  font-size: 2rem;
  width: max-content;
  display: flex;
  align-items: flex-start;
  gap: 0.8rem;
}

.header--text .name input,
.header--text .name .true-text,
.header--text .name .expander {
  line-height: 1em;
}

section {
  display: flex;
}

.section-content {
  width: 100%;
}

.section-icon {
  width: 1.2rem;
  height: 1.2rem;
  flex: 0 0 auto;
  margin: 1.6rem 0.5rem 0 0;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-icon img {
  width: 100%;
}

.edit-container input,
.edit-container textarea {
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto auto auto 0;
}

textarea {
  height: 100%;
  appearance: none;
  outline: none;
  resize: none;
  padding: 0;
  border: none;
}

.edit-container {
  min-width: 1em;
  overflow: hidden;
  width: fit-content;
  position: relative;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em 0.4em gray;
}

.edit-container textarea,
.edit-container input,
.expander,
.true-text {
  line-height: 1.5em;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

.expander {
  width: max-content;
  max-width: 100%;
  opacity: 0;
}

@keyframes focus {
  from {
    scale: 0.2;
  }

  to {
    scale: 1;
  }
}

.edit-container input:focus {
  outline: none;
  border: none;
  border-radius: 0.2em;
  padding: 0;
  margin: 0;
}

.edit-animation-container {
  position: relative;
}

.edit-container:has(*:focus) + .focus-indicator {
  animation: focus 800ms linear none infinite alternate;
  position: absolute;
  content: '';
  background-color: rgb(21, 21, 90);
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  left: -0.6rem;
  top: 0.5em;
}

.sidebar {
  grid-area: 2 / -2 / -1 / -1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar--skill {
  position: relative;
  border-radius: 0 2em;
  padding: 0.5em;
}

.skill--scaleless {
  border-bottom: 0.1rem solid rgb(36, 36, 90);
  padding: 1em;
}

.sidebar--skill .delete-button {
  height: 1.2em;
  width: 1.2em;
  top: -1em;
}

.skill--visual {
  margin-top: 0.5em;
  width: 100%;
  height: 0.6rem;
  display: flex;
  border-radius: 1em;
  overflow: hidden;
  background-color: #f1f1f1;
}

.skill--notch {
  /* margin-left: -1px; */
  transition: 0.3s;
  background-color: rgb(147, 210, 231);
  cursor: pointer;
  height: 100%;
  flex: 1 1 auto;
  border-left: 0.5px solid rgba(169, 169, 169, 0.684);
  border-radius: 0.15em 0.1em 0.1em 0.15em;
}

.skill--visual .skill--notch:first-child {
  border: none;
}

.sidebar--link,
.section-item {
  position: relative;
}

.sidebar--title {
  font-family: Karla;
  margin: 0;
  padding-bottom: 0.5em;
}

.icon-button {
  box-sizing: border-box;
  opacity: 0.3;
  display: none;
  border-radius: 50%;
  padding: 0;
  appearance: none;
  border: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.icon-button:active {
  scale: 0.9;
}

.add-button {
  border: 2px solid rgb(164, 227, 164);
  background: radial-gradient(rgba(164, 227, 164, 0.257), rgb(164, 227, 164));
}

.delete-button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0 auto 0;
  padding: 0.2em;
  background: radial-gradient(rgba(245, 91, 91, 0.604), rgb(245, 91, 91));
}

.delete-sub-child-button {
  padding: 0.1em;
  right: 0;
}

.link-toggle-button {
  padding: 0.2em;
  background: radial-gradient(rgba(93, 206, 255, 0.29), rgb(93, 206, 255));
}

.add-sub-child-button,
.add-sub-child-button {
  padding: 0.2em;
  background: radial-gradient(rgba(222, 255, 88, 0.28), rgb(222, 255, 88));
}

.drag-button,
.sub-drag-button {
  background: radial-gradient(rgba(240, 173, 255, 0.204), rgb(240, 173, 255));
  cursor: grab;
}

.drag-button {
  padding: 0.3em;
}

.sub-drag-button {
  padding: 0.1em;
  position: absolute;
  left: 0.3em;
  top: 0;
  bottom: 0;
  margin-top:auto;
  margin-bottom:auto;

}

.drag-button:active,
.sub-drag-button:active {
  cursor: grabbing;
}

.sidebar--skills,
.sidebar--links {
  padding-right: 3rem;
  margin-right: -3rem;
}

.sidebar--link {
  margin-bottom: 0.5em;
}
.sidebar--skill:hover .icon-button,
.sidebar--skills:hover .add-skill-button,
.sidebar--link:hover .icon-button,
.sidebar--links:hover .add-link-button,
.sidebar--links:hover .link-toggle-button,
.section-item:hover .delete-item-button,
.section-item:hover .add-sub-child-button,
.section--sub-children li:hover .delete-sub-child-button,
.section-content:hover .add-item-button,
.section-item:hover .drag-button,
.section--sub-children li:hover .sub-drag-button {
  display: flex;
}

.delete-item-button {
  position: relative;
}

.icon-button:hover {
  opacity: 1;
}

.delete-button img {
  height: 100%;
}

.add-button img,
.link-toggle-button img,
.add-sub-child-button img,
.drag-button img,
.sub-drag-button img {
  height: 100%;
  width: 100%;
}

.drag-button img,
.sub-drag-button img {
  pointer-events: none;
}

.sidebar--links a {
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: 600;
  color: rgb(93, 206, 255);
}

.website--container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.website--container img {
  height: 100%;
}

.icon-selector {
  position: absolute;
  background-color: rgb(227, 236, 235);
  border-radius: 1em 1em 1em 0;
  padding: 0.5em;
  display: flex;
  gap: 0.5em;
  height: 2em;
  top: -3.2em;
}

.website--icon,
.icon-selector img {
  cursor: pointer;
}

.icon-selector img {
  transition: 0.3s;
  opacity: 0.3;
}

.icon-selector img:hover,
.website--icon:hover {
  opacity: 1;
  scale: 1.2;
}

.website--icon {
  transition: 0.3s;
  height: 1.5em;
  width: 1.5em;
}

.flex-buttons {
  padding: 1em 0;
  display: flex;
  gap: 1em;
}

.main--title {
  font-size: 1.4rem;
  font-family: Karla, sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 1.5rem 0 0.3rem 0;
}

main {
  margin-right: 3rem;
  grid-area: 2 / 1 / -1 / 2;
}

.section-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.employment--location,
.education--location,
.reference--contact {
  font-size: 1.1rem;
}

.employment--location {
  font-weight: 600;
}

.education--location {
  font-weight: 400;
}

.employment--duration,
.education--duration {
  color: gray;
  font-weight: 500;
}
.section--sub-children {
  margin: 0;
  padding: 0.5rem 0 0 0;
  list-style: none;
}

.section--sub-children li {
  position: relative;
  padding-left: 3rem;
  padding-right: 1.5em;
  margin-right: -1.5em;
}

.sub-child-dot {
  position: relative;
  border-radius: 50%;
}

.sub-child-dot::before {
  position: absolute;
  content: '';
  background-color: black;
  height: 0.3em;
  width: 0.3em;
  top: 0.7em;
  left: -0.95em;
  border-radius: inherit;
}

li:has(.edit-container) .sub-child-dot::before {
  visibility: hidden;
}

.section--sub-children li .icon-button {
  box-sizing: border-box;
  height: 1.3rem;
  width: 1.3rem;
}

.employment--buttons,
.education--buttons,
.reference--buttons {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.ref--contact-info {
  display: flex;
  gap: 0.5rem;
}

.reference--email {
  font-size: 0.9rem;
  vertical-align: text-bottom;
}

@media print {
  :root {
    --page-width: 8.5in;
  }
  body *,
  .layout-button {
    visibility: hidden;
  }
  .page-container,
  .page-container * {
    visibility: visible;
  }

  .page-container {
    padding: 0;
    gap: 0;
    position: absolute;
    left: 0;
    top: 0;
  }

  .page {
    box-shadow: none;
  }
}

.gray-out {
  z-index: 1;
  background-color: rgba(128, 128, 128, 0.693);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.layout-form {
  font-family: Karla;
  font-size: 2rem;
  background-color: white;
  padding: 5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.layout-form div:first-child .form--title {
  margin-top: 0;
}

.form--title {
  margin: 0.3em 0 0.1em 0;
}
.layout-form label {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  gap: 0.3em;
}

.layout-form .layout--sub-category {
  font-size: 1.5rem;
  margin: 0rem 0 0 2rem;
}
.layout--sub-category input {
  font-size: 1rem;
}

.form--input {
  position: relative;
  cursor: pointer;
  appearance: none;
  width: 2.5em;
  height: 1.5em;
  background-color: gray;
  border-radius: 2em;
  opacity: 0.3;
  transition: 0.3s;
  box-shadow: inset 0px 0px 3px black;
}

.form--input:checked {
  box-shadow: inset 0px 0px 3px rgb(3, 94, 3);
  background-color: rgb(127, 229, 139);
  opacity: 1;
}

.form--input:after {
  position: absolute;
  content: '';
  top: 0.15em;
  left: 0.1em;
  height: 1.2em;
  width: 1.2em;
  border-radius: 50%;
  background-color: aliceblue;
  box-shadow: 0px 0px 3px black;
  transition: 0.3s;
}

.form--input:checked:after {
  box-shadow: 0px 0px 3px rgb(3, 94, 3);
  translate: 1em;
}

.layout-close-button {
  cursor: pointer;
  padding: 0;
  width: 100px;
  height: 50px;
  margin: 1em auto 0 auto;
  font-family: inherit;
  font-size: inherit;
  appearance: none;
  border: none;
  border-radius: 1rem;
  background-color: rgb(34, 69, 135);
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  transition: 0.2s;
}

.layout-close-button:hover {
  background-color: hsl(219, 60%, 50%);
}

.layout-close-button:active {
  scale: 0.9;
}

