@font-face {
  font-family: 'karla';
  src: url('./assets/karla-variablefont_wght-webfont.woff2') format('woff2'),
    url('./assets/karla-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'karla-italic';
  src: url('./assets/karla-italic-variablefont_wght-webfont.woff2')
      format('woff2'),
    url('./assets/karla-italic-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url('./assets/inter-variablefont_slntwght-webfont.woff2') format('woff2'),
    url('./assets/inter-variablefont_slntwght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --page-width: min(8.5in, 95vw);
  --page-height: calc((var(--page-width) * 11) / 8.5);
  font-size: calc(var(--page-width) / 60);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.App {
  width: var(--page-width);
  height: var(--page-height);
  padding: 3rem;
  box-shadow: 1px 1px 8px gray;
  display: grid;
  grid-template: auto 1fr / 1fr auto;
}

.header {
  grid-area: 1 / 1 / 2 / -1;
  display: flex;
  gap: 1rem;
  align-items: center;
  /* justify-content: space-between; */
}

.header--image-upload-label {
  cursor: pointer;
  display: block;
  height: 8rem;
  width: auto;
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.2s;
}

.header--image-upload-label:hover {
  scale: 1.05;
}

.header--image-upload-image {
  height: 100%;
  width: auto;
}

#img-upload {
  display: none;
}

.name {
  font-family: Karla, sans-serif;
  font-weight: 300;
  font-size: 2rem;
  width: max-content;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.header--text .name input,
.header--text .name .true-text,
.header--text .name .expander {
  line-height: 1em;
}

section {
  display: flex;
}

.section-icon {
  width: 1.2rem;
  height: 1.2rem;
  flex: 0 0 auto;
  margin: 1.6rem 0.5rem 0 0;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-icon img {
  width: 100%;
}

input, textarea {
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto auto auto 0;
}

textarea {
  height: 100%;
  appearance: none;
  outline: none;
  resize: none;
  padding: 0;
  border: none;
}

.edit-container {
  min-width: 1em;
  overflow: hidden;
  width: fit-content;
  position: relative;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em 0.4em gray;
}

.expander {
  width: max-content;
  max-width: 100%;
  opacity: 0;
}

textarea,
input,
.expander,
.true-text {
  /* box-sizing: border-box; */
  line-height: 1.5em;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

@keyframes focus {
  from {
    scale: 0.2;
  }

  to {
    scale: 1;
  }
}

input:focus {
  outline: none;
  border: none;
  border-radius: 0.2em;
  padding: 0;
  margin: 0;
}

input:focus + .focus-indicator {
  animation: focus 800ms linear none infinite alternate;
  position: absolute;
  content: '';
  background-color: rgb(21, 21, 90);
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  left: -0.6rem;
  top: 0.3em;
}

.sidebar {
  grid-area: 2 / -2 / -1 / -1;
  display: flex;
  flex-direction: column;
  gap: 2rem
}

.sidebar--skill {
  position: relative;
  border-radius: 0 2em;
  padding: 1em;
  border-bottom: 0.1rem solid rgb(36, 36, 90);
}

.sidebar--link,
.employment-item,
.education-item {
  position: relative;
}

.sidebar--title {
  font-family: Karla;
  margin: 0;
  padding-bottom: 0.5em;
}

.add-button,
.delete-button,
.link-toggle-button,
.add-task-button,
.add-detail-button {
  opacity: 0.3;
  display:none;
  border-radius: 50%;
  padding: 0;
  appearance: none;
  border: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.icon-button:active {
  scale: 0.9;
}

.add-button {
  border: 2px solid rgb(164, 227, 164);
  background: radial-gradient(rgba(164, 227, 164, 0.257), rgb(164, 227, 164) );
}

.delete-button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0 auto 0;
  border: 2px solid rgb(245, 91, 91);
  background: radial-gradient(rgba(245, 91, 91, 0.604), rgb(245, 91, 91));
}

.link-toggle-button {
  padding: 0.1em;
  background: radial-gradient(rgba(93, 206, 255, 0.29), rgb(93, 206, 255));
}

.add-task-button, 
.add-detail-button {
  padding: 0.2em;
  background: radial-gradient(rgba(222, 255, 88, 0.456), rgb(222, 255, 88));
}

.sidebar--skills,
.sidebar--links {
  padding-right: 3rem;
  margin-right: -3rem;
}
.sidebar--skill:hover .icon-button,
.sidebar--skills:hover .add-skill-button,
.sidebar--link:hover .icon-button,
.sidebar--links:hover .add-link-button,
.sidebar--links:hover .link-toggle-button,
.employment:hover .add-employment-button,
.employment-item:hover .delete-employment-button,
.employment-item:hover .add-task-button,
.employment--tasks li:hover .delete-task-button,
.education-item:hover .delete-education-button,
.education:hover .add-education-button,
.education-item:hover .add-detail-button,
.education--details li:hover .delete-detail-button {
  display: flex;
}

.delete-employment-button,
.delete-education-button {
  position: relative;
  /* margin: 0 0 auto auto; */
}

.icon-button:hover {
  opacity: 1;
}

.delete-button img {
  height: 100%;
}

.add-button img, 
.link-toggle-button img,
.add-task-button img,
.add-detail-button img {
  height: 100%;
  width: 100%;
}

.sidebar--links a {
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: 600;
  color: rgb(93, 206, 255);
}

.flex-buttons {
  padding: 1em 0;
  display: flex;
  gap: 1em;
}

.main--title {
  font-size: 1.5rem;
  font-family: Karla, sans-serif;
  font-weight: 600;
  padding: 0;
  margin: 1.5rem 0 0.3rem 0;
}

main {
  margin-right: 3rem;
  grid-area: 2 / 1 / -1 / 2;
}

.employment--location,
.education--school {
  font-size: 1.1rem;
  font-weight: 600;
}

.education--school {
  font-weight: 400;
}

.employment--duration,
.education--duration {
  color: gray;
  font-weight: 500;
}
.employment--tasks,
.education--details {
  margin: 0;
  padding: 0.5rem 0 0 3rem;
  list-style:disc;
}

.employment--tasks li,
.education--details li {
  position: relative;
}

.employment--tasks li .delete-task-button,
.education--details li .delete-detail-button {
  height: 1em;
  width: 1em;
}

.employment-item,
.education-item {
  margin-bottom: 1rem;
}

.employment--buttons,
.education--buttons {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
}

